# FIREBASE CONFIGURATION
FIREBASE_DB_URL=https://dormtrashguard-default-rtdb.asia-southeast1.firebasedatabase.app/
FIREBASE_API_KEY=AIzaSyDaNOXruZ2d1YjtE7DM12jttY70Qto1xZ8
FIREBASE_PROJECT_ID=dormtrashguard

# GMAIL SMTP CONFIGURATION
SENDER_GMAIL_ADDRESS=davidnguyenporo9@gmail.com
SENDER_GMAIL_PASSWORD=ooqi liqo bwwy htcw

# WEB CONFIRMATION ACTION LINK
WEB_CONFIRM_URL=https://ais-dev-jzdr6tevl6ahe3hmixqdoz-89627226184.asia-east1.run.app/
