

# FIREBASE CONFIGURATION
FIREBASE_DB_URL=https://dormtrashguard-default-rtdb.asia-southeast1.firebasedatabase.app/
FIREBASE_API_KEY=AIzaSyDaNOXruZ2d1YjtE7DM12jttY70Qto1xZ8
FIREBASE_PROJECT_ID=dormtrashguard

# GMAIL SMTP CONFIGURATION
SENDER_GMAIL_ADDRESS=your_sender_email@gmail.com
SENDER_GMAIL_PASSWORD=your_gmail_app_password

# WEB CONFIRMATION ACTION LINK
WEB_CONFIRM_URL=http://your-dev-domain.app/
