*.iml
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
.firebase/
debug.keystore
debug.keystore.base64
*.zip
.gradle/
build/
app/build/
.build-outputs/
gradle-9.1.0/
*.apk
*.aab
*.keystore